<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.core.formulaExtensionProviders">
      <formulaExtensionProvider
            class="org.eventb.theory.mathextensions.TheoryFormulaExtensionProvider"
            id="org.eventb.theory.math-extensions.theoryExtensionsProvider">
      </formulaExtensionProvider>
   </extension>

</plugin>
