<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.theory.rbp.reasoners.ManualRewriteReasoner"
            contextDependent="true"
            id="manualRewriteReasoner"
            name="%manualRewriteReasoner">
      </reasoner>
      <reasoner
            class="org.eventb.theory.rbp.reasoners.AutoRewriteReasoner"
            contextDependent="true"
            id="autoRewriteReasoner"
            name="%autoRewriteReasoner">
      </reasoner>
      <reasoner
            class="org.eventb.theory.rbp.reasoners.AutoInferenceReasoner"
            contextDependent="true"
            id="autoInferenceReasoner"
            name="%autoInferenceReasoner">
      </reasoner>
      <reasoner
            class="org.eventb.theory.rbp.reasoners.ManualInferenceReasoner"
            contextDependent="true"
            id="manualInferenceReasoner"
            name="%manualInferenceReasoner">
      </reasoner>
      <reasoner
            class="org.eventb.theory.rbp.reasoners.XDReasoner"
            contextDependent="true"
            id="reduceToClassicLanguageReasoner"
            name="%reduceToClassicLanguageReasoner">
      </reasoner>
      <reasoner
            class="org.eventb.theory.rbp.reasoners.THReasoner"
            contextDependent="true"
            id="instantiateTheoremReasoner"
            name="%instantiateTheoremReasoner">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="org.eventb.theory.rbp.tactics.RewritesAutoTactic"
            description="%rbp0.desc"
            id="rbp0"
            auto="true"
            post="true"
            name="%rbp0">
      </autoTactic>
      <autoTactic
            class="org.eventb.theory.rbp.tactics.InferenceAutoTactic"
            description="%rbp1.desc"
            id="rbp1"
            auto="true"
            post="true"
            name="%rbp1">
      </autoTactic>
      <autoTactic
            class="org.eventb.theory.rbp.tactics.XDAutoTactic"
            description="%rbpxd.desc"
            id="rbpxd"
            auto="true"
            post="true"
            name="%rbpxd">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.ui.proofTactics">
      <tactic
            icon="icons/pending.gif"
            id="RbP0"
            interrupt="true"
            name="%rbpRewTactics"
            priority="5"
            tacticProvider="org.eventb.theory.rbp.tactics.CachedRewritesManualTactic"
            target="any"
            tooltip="%applyRew">
      </tactic>
      <tactic
            icon="icons/pending.gif"
            id="RbP1"
            interrupt="true"
            name="%rbpInfTactics"
            priority="5"
            tacticProvider="org.eventb.theory.rbp.tactics.InferenceManualTactic"
            target="any"
            tooltip="%applyInf">
      </tactic>
       <tactic
             icon="icons/xdf.png"
             id="RbPxd"
             interrupt="true"
             name="%reduceToClassicTactic"
             priority="6"
             tacticProvider="org.eventb.theory.rbp.tactics.XDTactic"
             target="global"
             toolbar="org.eventb.ui.sequentToolbar"
             tooltip="%reduceToClassicLang">
       </tactic>
       <tactic
             icon="icons/thf.png"
             id="RbPth"
             interrupt="false"
             name="%insertTheoremTactic"
             priority="7"
             tacticProvider="org.eventb.theory.rbp.tactics.THTactic"
             target="global"
             toolbar="org.eventb.ui.sequentToolbar"
             tooltip="%insertTheorem">
       </tactic>
   </extension>
   

</plugin>
 
