<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eventb.ui.wizards"
            class="ac.soton.eventb.ruleBase.theory.ui.wizard.NewTheoryFileWizard"
            finalPerspective="org.eventb.ui.perspective.eventb"
            icon="icons/thy.gif"
            id="ac.soton.eventb.ruleBase.theory.ui.wizards.theoryWizard"
            name="%newWizard.theoryFile"
            preferredPerspectives="org.eventb.ui.perspective.eventb,org.eventb.ui.perspective.proving"
            project="false">
         <description>
            %newWizard.theoryDescription
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ac.soton.eventb.ruleBase.theory.ui.editor.TheoryEditor"
            contributorClass="ac.soton.eventb.ruleBase.theory.ui.editor.TheoryEditorContributor"
            default="true"
            extensions="but"
            icon="icons/thy.gif"
            id="ac.soton.eventb.ruleBase.theory.ui.editors.theory"
            name="%editor.Theory">
         <contentTypeBinding
               contentTypeId="ac.soton.eventb.ruleBase.theory.core.theoryFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eventb.ui.editorItems">
      <textAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.LHSFormulaAttributeManipulation"
            expandsHorizontally="false"
            foregroundColor="P_REQUIRED_FIELD_BACKGROUND"
            id="ac.soton.eventb.ruleBase.theory.ui.lhs"
            isMath="true"
            prefix="lhs"
            style="single"
            typeId="ac.soton.eventb.ruleBase.theory.core.lhs">
      </textAttribute>
      <textAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.RHSFormulaAttributeManipulation"
            expandsHorizontally="false"
            foregroundColor="P_REQUIRED_FIELD_BACKGROUND"
            id="ac.soton.eventb.ruleBase.theory.ui.rhs"
            isMath="true"
            prefix="rhs"
            style="single"
            typeId="ac.soton.eventb.ruleBase.theory.core.rhs">
      </textAttribute>
      <choiceAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.CategoryAttributeManipulation"
            expandsHorizontally="false"
            id="ac.soton.eventb.ruleBase.theory.ui.category"
            required="true"
            typeId="ac.soton.eventb.ruleBase.theory.core.category">
      </choiceAttribute>
      <toggleAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.CompleteAttributeManipulation"
            id="ac.soton.eventb.ruleBase.theory.ui.complete"
            typeId="ac.soton.eventb.ruleBase.theory.core.complete">
      </toggleAttribute>
      <toggleAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.AutoAttributeManipulation"
            id="ac.soton.eventb.ruleBase.theory.ui.auto"
            typeId="ac.soton.eventb.ruleBase.theory.core.auto">
      </toggleAttribute>
      <toggleAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.InteractiveAttributeManipulation"
            id="ac.soton.eventb.ruleBase.theory.ui.interactive"
            typeId="ac.soton.eventb.ruleBase.theory.core.interactive">
      </toggleAttribute>
      <textAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.TypingAttributeManipulation"
            expandsHorizontally="false"
            foregroundColor="P_REQUIRED_FIELD_BACKGROUND"
            id="ac.soton.eventb.ruleBase.theory.ui.type"
            isMath="true"
            prefix=":"
            style="single"
            typeId="ac.soton.eventb.ruleBase.theory.core.type">
      </textAttribute>
      <textAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.ToolTipAttributeManipulation"
            expandsHorizontally="false"
            foregroundColor="P_COMMENT_FOREGROUND"
            id="ac.soton.eventb.ruleBase.theory.ui.toolTip"
            isMath="false"
            prefix="Tip:"
            style="single"
            typeId="ac.soton.eventb.ruleBase.theory.core.toolTip">
      </textAttribute>
      <textAttribute
            class="ac.soton.eventb.ruleBase.theory.ui.attr.DescAttributeManipulation"
            expandsHorizontally="false"
            foregroundColor="P_COMMENT_FOREGROUND"
            id="ac.soton.eventb.ruleBase.theory.ui.desc"
            isMath="false"
            prefix="Desc:"
            style="single"
            typeId="ac.soton.eventb.ruleBase.theory.core.desc">
      </textAttribute>
      <element
            childrenSuffix="END"
            imagePath="icons/thy.gif"
            prefix="THEORY"
            typeId="ac.soton.eventb.ruleBase.theory.core.theoryFile">
      </element>
      <element
            defaultColumn="0"
            imagePath="icons/full/obj16/cst_obj.gif"
            prefix="CATEGORIES"
            typeId="ac.soton.eventb.ruleBase.theory.core.category">
      </element>
      <element
            defaultColumn="0"
            imagePath="icons/full/obj16/set_obj.gif"
            prefix="SETS"
            typeId="ac.soton.eventb.ruleBase.theory.core.set">
      </element>
      <element
            defaultColumn="0"
            imagePath="icons/full/obj16/var_obj.gif"
            prefix="METAVARIABLES"
            typeId="ac.soton.eventb.ruleBase.theory.core.variable">
      </element>
      <element
            childrenSuffix="END"
            defaultColumn="0"
            imagePath="icons/full/obj16/inv_obj.gif"
            prefix="REWRITE RULES"
            typeId="ac.soton.eventb.ruleBase.theory.core.rewriteRule">
      </element>
      <element
            defaultColumn="1"
            imagePath="icons/full/obj16/grd_obj.gif"
            prefix="REWRITES"
            typeId="ac.soton.eventb.ruleBase.theory.core.rewriteRuleRHS">
      </element>
      <childRelation
            parentTypeId="ac.soton.eventb.ruleBase.theory.core.theoryFile">
         <childType
               priority="10"
               typeId="ac.soton.eventb.ruleBase.theory.core.category">
         </childType>
         <childType
               priority="20"
               typeId="ac.soton.eventb.ruleBase.theory.core.set">
         </childType>
         <childType
               priority="30"
               typeId="ac.soton.eventb.ruleBase.theory.core.variable">
         </childType>
         <childType
               priority="40"
               typeId="ac.soton.eventb.ruleBase.theory.core.rewriteRule">
         </childType>
      </childRelation>
      <childRelation
            parentTypeId="ac.soton.eventb.ruleBase.theory.core.rewriteRule">
         <childType
               priority="10"
               typeId="ac.soton.eventb.ruleBase.theory.core.rewriteRuleRHS">
         </childType>
      </childRelation>
      <attributeRelation
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.theoryFile">
         <attributeReference
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.category">
         <attributeReference
               descriptionId="ac.soton.eventb.ruleBase.theory.ui.category">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.set">
         <attributeReference
               column="0"
               descriptionId="org.eventb.ui.identifier">
         </attributeReference>
         <attributeReference
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.variable">
         <attributeReference
               column="0"
               descriptionId="org.eventb.ui.identifier">
         </attributeReference>
         <attributeReference
               column="1"
 				descriptionId="ac.soton.eventb.ruleBase.theory.ui.type">
         </attributeReference>
         <attributeReference
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.rewriteRule">
         <attributeReference
               column="0"
               descriptionId="org.eventb.ui.label">
         </attributeReference>
         <attributeReference
               column="1"
               descriptionId="ac.soton.eventb.ruleBase.theory.ui.lhs">
         </attributeReference>
         <attributeReference
               column="2"
               descriptionId="ac.soton.eventb.ruleBase.theory.ui.complete">
         </attributeReference>
         <attributeReference
               column="3"
               descriptionId="ac.soton.eventb.ruleBase.theory.ui.auto">
         </attributeReference>
         <attributeReference
               column="4"
               descriptionId="ac.soton.eventb.ruleBase.theory.ui.interactive">
         </attributeReference>
         <attributeReference
               column="5"
               descriptionId="ac.soton.eventb.ruleBase.theory.ui.desc">
         </attributeReference>
         <attributeReference
               column="6"
               descriptionId="ac.soton.eventb.ruleBase.theory.ui.toolTip">
         </attributeReference>
         <attributeReference
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.rewriteRuleRHS">
         <attributeReference
               column="0"
               descriptionId="org.eventb.ui.label">
         </attributeReference>
         <attributeReference
               column="1"
               descriptionId="org.eventb.ui.predicate">
         </attributeReference>
         <attributeReference
               column="2"
               descriptionId="ac.soton.eventb.ruleBase.theory.ui.rhs">
         </attributeReference>
         <attributeReference
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
   </extension>
   <extension
         point="org.eventb.ui.editorItems">
      <autoNaming
            attributeDescriptionId="org.eventb.ui.identifier"
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.set"
            namePrefix="set">
      </autoNaming>
      <autoNaming
            attributeDescriptionId="org.eventb.ui.identifier"
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.variable"
            namePrefix="var">
      </autoNaming>
      <autoNaming
            attributeDescriptionId="org.eventb.ui.label"
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.rewriteRule"
            namePrefix="rule">
      </autoNaming>
      <autoNaming
            attributeDescriptionId="org.eventb.ui.label"
            elementTypeId="ac.soton.eventb.ruleBase.theory.core.rewriteRuleRHS"
            namePrefix="rhs">
      </autoNaming>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ac.soton.eventb.ruleBase.theory.ui.explorer.contentProvider.TheoryContentProvider"
            id="ac.soton.eventb.ruleBase.theory.ui.explorer.theory"
            labelProvider="ac.soton.eventb.ruleBase.theory.ui.explorer.contentProvider.TheoryLabelContentProvider"
            name="%navigatorContent.theory"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="ac.soton.eventb.ruleBase.theory.core.ITheoryRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="ac.soton.eventb.ruleBase.theory.core.ITheoryRoot">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="ac.soton.eventb.ruleBase.theory.ui.explorer.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="ac.soton.eventb.ruleBase.theory.ui.explorer.contentProvider.RewriteRuleContentProvider"
            id="ac.soton.eventb.ruleBase.theory.ui.explorer.rewriteRule"
            labelProvider="ac.soton.eventb.ruleBase.theory.ui.explorer.contentProvider.TheoryLabelContentProvider"
            name="%navigatorContent.rewriteRule"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="ac.soton.eventb.ruleBase.theory.core.ITheoryRoot">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="ac.soton.eventb.ruleBase.theory.core.IRewriteRule">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="ac.soton.eventb.ruleBase.theory.ui.explorer.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="ac.soton.eventb.ruleBase.theory.ui.explorer.contentProvider.POContentProvider"
            id="ac.soton.eventb.ruleBase.theory.ui.explorer.poFile"
            labelProvider="ac.soton.eventb.ruleBase.theory.ui.explorer.contentProvider.TheoryLabelContentProvider"
            name="%navigatorContent.poFiles"
            priority="lowest">
         <triggerPoints>
            <or>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
               <instanceof
                     value="ac.soton.eventb.ruleBase.theory.core.ITheoryRoot">
               </instanceof>
               <instanceof
                     value="ac.soton.eventb.ruleBase.theory.core.IRewriteRule">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IPSStatus">
            </instanceof>
            <instanceof
                  value="fr.systerel.explorer.IElementNode">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="ac.soton.eventb.ruleBase.theory.ui.explorer.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="ac.soton.eventb.ruleBase.theory.ui.explorer.actionProvider.TheoryRootActionProvider"
            id="ac.soton.eventb.ruleBase.theory.ui.explorer.theoryActionProvider">
         <enablement>
            <instanceof
                  value="ac.soton.eventb.ruleBase.theory.core.ITheoryRoot">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ac.soton.eventb.ruleBase.theory.ui.explorer.actionProvider.ElementActionProvider"
            id="ac.soton.eventb.ruleBase.theory.ui.explorer.elementActionProvider">
         <enablement>
            <instanceof
                  value="ac.soton.eventb.ruleBase.theory.core.IRewriteRule">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.eventb.ruleBase.theory.ui.explorer.theory">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.eventb.ruleBase.theory.ui.explorer.rewriteRule">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.eventb.ruleBase.theory.ui.explorer.poFile">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="ac.soton.eventb.ruleBase.theory.ui.explorer.theoryActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.eventb.ruleBase.theory.ui.explorer.elementActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ac.soton.eventb.ruleBase.theory.ui.theoryContribution"
            targetID="ac.soton.eventb.ruleBase.theory.ui.editors.theory">
         <action
               actionID="ac.soton.eventb.ruleBase.theory.ui.editor.exportTheory"
               class="ac.soton.eventb.ruleBase.theory.ui.editor.actions.DeployTheoryActionDelegate"
               disabledIcon="icons/thyDis.gif"
               icon="icons/deploy.gif"
               id="ac.soton.eventb.ruleBase.theory.ui.editor.actions.exportTheory"
               label="%actions.exportTheory"
               style="push"
               toolbarPath="org.eventb.ui.eventBEditor"
               tooltip="%actions.deployTheoryTip">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionSet.theory.desc"
            id="ac.soton.eventb.ruleBase.theory.ui.tActionSet"
            label="%actionSet.theory.label"
            visible="true">
         <menu
               id="ac.soton.eventb.ruleBase.theory.ui.theoryMenu"
               label="%actionSet.theory.label">
            <groupMarker
                  name="deploy">
            </groupMarker>
         </menu>
         <action
               class="ac.soton.eventb.ruleBase.theory.ui.actions.DeployActionDelegate"
               icon="icons/deploy.gif"
               id="ac.soton.eventb.ruleBase.theory.ui.actions.deployTheory"
               label="%actions.exportTheory"
               menubarPath="ac.soton.eventb.ruleBase.theory.ui.theoryMenu/deploy"
               style="push"
               tooltip="%actions.deployTheoryTip">
         </action>
       
      </actionSet>
   </extension>
</plugin>
