<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="thy"
            id="deployedTheory"
            name="%deployedTheory"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="sound"
            kind="boolean"
            name="%ruleSoundness">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="ac.soton.eventb.ruleBase.theory.deploy.deployer.basis.DeployedTheoryRoot"
            id="deployedTheory"
            name="%element.deployedTheory">
      </internalElementType>
      <internalElementType
            class="ac.soton.eventb.ruleBase.theory.deploy.deployer.basis.DeployedRewriteRule"
            id="deployedRewRule"
            name="%element.deployedRewRule">
      </internalElementType>
      <internalElementType
            class="ac.soton.eventb.ruleBase.theory.deploy.deployer.basis.DeployedRuleRHS"
            id="deployedRuleRHS"
            name="%element.deployedRuleRHS">
      </internalElementType>
      <internalElementType
            class="ac.soton.eventb.ruleBase.theory.deploy.deployer.basis.MetaVariable"
            id="metaVariable"
            name="%element.metaVariable">
      </internalElementType>
      <internalElementType
            class="ac.soton.eventb.ruleBase.theory.deploy.deployer.basis.MetaSet"
            id="metaSet"
            name="%element.metaSet">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.fileAssociations">
      <fileAssociation
            content-type-id="ac.soton.eventb.ruleBase.theory.deploy.deployedTheory"
            root-element-type="ac.soton.eventb.ruleBase.theory.deploy.deployedTheory">
      </fileAssociation>
   </extension>

</plugin>
