<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tuf"
            id="theoryFile"
            name="%theoryFile"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tcf, tcf_tmp"
            id="scTheoryFile"
            name="%scTheoryFile"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="associative"
            kind="boolean"
            name="%associativeAttr">
      </attributeType>
      <attributeType
            id="commutative"
            kind="boolean"
            name="%commutativeAttr">
      </attributeType>
      <attributeType
            id="formula"
            kind="string"
            name="%formulaAttr">
      </attributeType>
      <attributeType
            id="formulaType"
            kind="boolean"
            name="%formulaTypeAttr">
      </attributeType>
      <attributeType
            id="notationType"
            kind="string"
            name="%notationTypeAttr">
      </attributeType>
      <attributeType
            id="syntaxSymbol"
            kind="string"
            name="%syntaxSymbolAttr">
      </attributeType>
      <attributeType
            id="type"
            kind="string"
            name="%typeAttr">
      </attributeType>
      <attributeType
            id="auto"
            kind="boolean"
            name="%eventBautoAttr">
      </attributeType>
      <attributeType
            id="complete"
            kind="boolean"
            name="%eventBcompleteAttr">
      </attributeType>
      <attributeType
            id="interactive"
            kind="boolean"
            name="%eventBinteractiveAttr">
      </attributeType>
      <attributeType
            id="toolTip"
            kind="string"
            name="%eventBtoolTip">
      </attributeType>
      <attributeType
            id="desc"
            kind="string"
            name="%eventBdesc">
      </attributeType>
      <attributeType
            id="definitional"
            kind="boolean"
            name="%definitionalAttr">
      </attributeType>
      <attributeType
            id="givenType"
            kind="string"
            name="%givenTypeAttr">
      </attributeType>
      <attributeType
            id="hasError"
            kind="boolean"
            name="%hasErrorAttr">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.theory.core.basis.TheoryRoot"
            id="theoryRoot"
            name="%theoryRoot">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.TypeParameter"
            id="typeParameter"
            name="%typeParameter">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.DatatypeDefinition"
            id="datatypeDefinition"
            name="%datatypeDefinition">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.TypeArgument"
            id="typeArgument"
            name="%typeArgument">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.DatatypeConstructor"
            id="datatypeConstructor"
            name="%datatypeConstructor">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.ConstructorArgument"
            id="constructorArgument"
            name="%constructorArgument">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.NewOperatorDefinition"
            id="newOperatorDefinition"
            name="%newOperatorDefinition">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.OperatorArgument"
            id="operatorArgument"
            name="%operatorArgument">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.OperatorWDCondition"
            id="operatorWDcondition"
            name="%operatorWDcondition">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.DirectOperatorDefinition"
            id="directOperatorDefinition"
            name="%directOperatorDefinition">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.ProofRulesBlock"
            id="proofRulesBlock"
            name="%proofRulesBlock">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.Metavariable"
            id="metaVariable"
            name="%metaVariable">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.RewriteRule"
            id="rewriteRule"
            name="%rewriteRule">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.RewriteRuleRightHandSide"
            id="rewriteRuleRHS"
            name="%rewriteRuleRHS">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.Given"
            id="given"
            name="%given">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.Infer"
            id="infer"
            name="%infer">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.InferenceRule"
            id="inferenceRule"
            name="%inferenceRule">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.Theorem"
            id="theorem"
            name="%theorem">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.theory.core.basis.SCTheoryRoot"
            id="scTheoryRoot"
            name="%scTheoryRoot">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.SCTypeParameter"
            id="scTypeParameter"
            name="%scTypeParameter">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.SCDatatypeDefinition"
            id="scDatatypeDefinition"
            name="%scDatatypeDefinition">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.SCTypeArgument"
            id="scTypeArgument"
            name="%scTypeArgument">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.SCDatatypeConstructor"
            id="scDatatypeConstructor"
            name="%scDatatypeConstructor">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.SCConstructorArgument"
            id="scConstructorArgument"
            name="%scConstructorArgument">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.SCNewOperatorDefinition"
            id="scNewOperatorDefinition"
            name="%scNewOperatorDefinition">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.SCDirectOperatorDefinition"
            id="scDirectOperatorDefinition"
            name="%scDirectOperatorDefinition">
      </internalElementType>
      <internalElementType
            class="org.eventb.theory.core.basis.SCOperatorArgument"
            id="scOperatorArgument"
            name="%scOperatorArgument">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.fileAssociations">
      <fileAssociation
            content-type-id="org.eventb.theory.core.theoryFile"
            root-element-type="org.eventb.theory.core.theoryRoot">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.eventb.theory.core.scTheoryFile"
            root-element-type="org.eventb.theory.core.scTheoryRoot">
      </fileAssociation>
   </extension>
   <extension
         point="org.rodinp.core.autoTools">
      <tool
            class="org.eventb.theory.core.sc.TheoryStaticChecker"
            id="theorySC"
            name="%theorySCTool">
         <extractor
               class="org.eventb.theory.core.sc.TheoryStaticChecker"
               name="%theorySCExtractor">
            <inputType
                  id="org.eventb.theory.core.theoryRoot">
            </inputType>
         </extractor>
      </tool>
   </extension>
   <extension
         point="org.eventb.core.scStateTypes">
      <stateType
            class="org.eventb.theory.internal.core.sc.states.TheoryLabelSymbolTable"
            id="theoryLabelSymbolTable"
            name="%theoryLabelSymbolTable">
      </stateType>
      <stateType
            class="org.eventb.theory.internal.core.sc.states.TheoryAccuracyInfo"
            id="theoryAccuracyInfo"
            name="%theoryAccuracyInfo">
      </stateType>
      <stateType
            class="org.eventb.theory.internal.core.sc.states.AddedTypeExpression"
            id="addedTypeExpression"
            name="%addedTypeExpression">
      </stateType>
      <stateType
            class="org.eventb.theory.internal.core.sc.states.ReferencedTypes"
            id="referencedTypes"
            name="%referencedTypes">
      </stateType>
      <stateType
            class="org.eventb.theory.internal.core.sc.states.DatatypeTable"
            id="datatypeTable"
            name="%datatypeTable">
      </stateType>
      <stateType
            class="org.eventb.theory.internal.core.sc.states.OperatorLabelSymbolTable"
            id="operatorLabelSymbolTable"
            name="%operatorLabelSymbolTable">
      </stateType>
      <stateType
            class="org.eventb.theory.internal.core.sc.states.IOperatorInformation"
            id="operatorInformation"
            name="%operatorInformation">
      </stateType>
   </extension>
   <extension
         point="org.eventb.core.scModuleTypes">
       <rootType
            class="org.eventb.theory.internal.core.sc.TheoryModule"
            id="theoryModule"
            input="org.eventb.theory.core.theoryRoot"
            name="%scTheoryModule">
      </rootType>
       <processorType
             class="org.eventb.theory.internal.core.sc.TypeParameterModule"
             id="typeParameterModule"
             name="%scTypeParameterModule"
             parent="org.eventb.theory.core.theoryModule">
       </processorType>
       <processorType
             class="org.eventb.theory.internal.core.sc.DatatypeDefinitionModule"
             id="datatypeDefinitionModule"
             name="%datatypeDefinitionModule"
             parent="org.eventb.theory.core.theoryModule">
          <prereq
                id="org.eventb.theory.core.typeParameterModule">
          </prereq>
       </processorType>
       <filterType
             class="org.eventb.theory.internal.core.sc.DatatypeDefinitionFilterModule"
             id="datatypeDefinitionFilterModule"
             name="%datatypeDefinitionFilterModule"
             parent="org.eventb.theory.core.datatypeDefinitionModule">
       </filterType>
       <processorType
             class="org.eventb.theory.internal.core.sc.DatatypeConstructorModule"
             id="datatypeConstructorModule"
             name="%datatypeConstructorModule"
             parent="org.eventb.theory.core.datatypeDefinitionModule">
       </processorType>
       <processorType
             class="org.eventb.theory.internal.core.sc.DatatypeDestructorModule"
             id="datatypeDestructorModule"
             name="%datatypeDestructorModule"
             parent="org.eventb.theory.core.datatypeConstructorModule">
       </processorType>
       <filterType
             class="org.eventb.theory.internal.core.sc.DatatypeDestructorIdentsModule"
             id="datatypeDestructorIdentsModule"
             name="%datatypeDestructorIdentsModule"
             parent="org.eventb.theory.core.datatypeDestructorModule">
       </filterType>
       <processorType
             class="org.eventb.theory.internal.core.sc.NewOperatorDefinitionModule"
             id="newOperatorDefinitionModule"
             name="%newOperatorDefinitionModule"
             parent="org.eventb.theory.core.theoryModule">
          <prereq
                id="org.eventb.theory.core.datatypeDefinitionModule">
          </prereq>
       </processorType>
       <filterType
             class="org.eventb.theory.internal.core.sc.OperatorDefinitionFilterModule"
             id="operatorDefinitionFilterModule"
             name="%operatorDefinitionFilterModule"
             parent="org.eventb.theory.core.newOperatorDefinitionModule">
       </filterType>
       <processorType
             class="org.eventb.theory.internal.core.sc.OperatorArgumentModule"
             id="operatorArgumentModule"
             name="%operatorArgumentModule"
             parent="org.eventb.theory.core.newOperatorDefinitionModule">
       </processorType>
       <filterType
             class="org.eventb.theory.internal.core.sc.OperatorArgumentFilterModule"
             id="operatorArgumentFilterModule"
             name="%operatorArgumentFilterModule"
             parent="org.eventb.theory.core.operatorArgumentModule">
       </filterType>
       <processorType
             class="org.eventb.theory.internal.core.sc.OperatorWDConditionModule"
             id="operatorWDConditionModule"
             name="%operatorWDConditionModule"
             parent="org.eventb.theory.core.newOperatorDefinitionModule">
          <prereq
                id="org.eventb.theory.core.operatorArgumentModule">
          </prereq>
       </processorType>
       <filterType
             class="org.eventb.theory.internal.core.sc.OperatorWDConditionFilterModule"
             id="operatorWDConditionFilterModule"
             name="%operatorWDConditionFilterModule"
             parent="org.eventb.theory.core.operatorWDConditionModule">
       </filterType>
       <processorType
             class="org.eventb.theory.internal.core.sc.DirectOperatorDefinitionModule"
             id="directOperatorDefinitionModule"
             name="%directOperatorDefinitionModule"
             parent="org.eventb.theory.core.newOperatorDefinitionModule">
          <prereq
                id="org.eventb.theory.core.operatorWDConditionModule">
          </prereq>
       </processorType>
       <processorType
             class="org.eventb.theory.internal.core.sc.NewOperatorAttributesModule"
             id="newOperatorAttributesModule"
             name="%newOperatorAttributesModule"
             parent="org.eventb.theory.core.newOperatorDefinitionModule">
          <prereq
                id="org.eventb.theory.core.directOperatorDefinitionModule">
          </prereq>
       </processorType>
       <processorType
             class="org.eventb.theory.internal.core.sc.OperatorGrammarPatcherModule"
             id="operatorGrammarPatcherModule"
             name="%operatorGrammarPatcherModule"
             parent="org.eventb.theory.core.newOperatorDefinitionModule">
          <prereq
                id="org.eventb.theory.core.newOperatorAttributesModule">
          </prereq>
       </processorType>
   </extension>
   <extension
         point="org.eventb.core.configurations">
      <configuration
            id="thySC"
            name="%thySC">
         <scModule
               id="org.eventb.theory.core.theoryModule">
         </scModule>
      </configuration>
      <configuration
            id="thyBaseSC"
            name="%thyBaseSC">
         <config
               id="org.eventb.theory.core.thySC">
         </config>
         <scModule
               id="org.eventb.theory.core.typeParameterModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.datatypeDefinitionModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.datatypeConstructorModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.datatypeDestructorModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.datatypeDestructorIdentsModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.datatypeDefinitionFilterModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.newOperatorDefinitionModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.operatorDefinitionFilterModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.operatorArgumentModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.operatorArgumentFilterModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.newOperatorAttributesModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.operatorWDConditionModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.operatorWDConditionFilterModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.directOperatorDefinitionModule">
         </scModule>
         <scModule
               id="org.eventb.theory.core.operatorGrammarPatcherModule">
         </scModule>
      </configuration>
      <configuration
            id="thy"
            name="%thy">
         <config
               id="org.eventb.theory.core.thyBaseSC">
         </config>
      </configuration>
   </extension>

</plugin>
